.App {
  text-align: center;
  > .container{
    min-height: 100vh;
    display: grid;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
    grid-template-areas: "head head"
                         "nav  main"
                         "nav  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
    > header{
      display: flex;
      grid-area: head;
      background-color: #8ca0ff;
      img.logo{
        max-width: 100px;
      }
    }
    > nav{
      grid-area: nav;
      background-color: lightblue;
    }
    > main.page-container{
      grid-area: main;
      background-color: lightgrey;
    }
    > footer{
      grid-area: foot;
      background-color: gray;
    }
  }
}
